<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TextToKids Chaine Synapse</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- <link href="{% static 'css/chain.css' %}" rel="stylesheet"> -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
</head>

<body class="has-navbar-fixed-top">
    <section class="section">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <!-- navbar items, navbar burger... -->
                <img src="{% static 'img/logoTTKvert.jpg' %}" alt="Icon image" width="120" height="60">
            </div>
            <div class="navbar-menu">
                <!-- navbar start, navbar end -->
                <a class="navbar-item is-size-5 has-text-link" href="{% url 'home' %}">
                    Projet
                </a>
                <a class="navbar-item is-size-5 has-text-link" href="{% url 'chain' %}">
                    Analyse globale
                </a>
                <a class="navbar-item is-size-5 has-text-link" href="{% url 'semantics' %}">
                    Analyse détaillée
                </a>
                <a class="navbar-item is-size-5 has-text-link" href="{% url 'results' %}">
                    Résultats
                </a>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
</body>

</html>