<!-- templates/chain.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title is-3 has-text-primary">Utiliser l'analyse globale  <button id="help_button" class="button is-light">Afficher/Masquer l'aide</button></h1>
<div class="container">
<!--<form enctype="multipart/form-data" method="post">-->
        {% csrf_token %}
<div class="row">
    <div id='id_formulaire' class="col bg-1">
        <div class="field">
            <label class="label">{{ form.emailReg.label }}</label>
        </div>
        <div id="djmail" class="field">
            {{ form.emailReg }}
        </div>

        <div class="field">
            <label class="label">{{ form.institution.label }}</label>
        </div>
        <div id="djinstitution" class="field">
            {{ form.institution }}
        </div>

        <!-- <div class="field">
            <label class="label">{{ form.traitement.label }}</label>
        </div>
        <div id="djlvl" class="field">
            {{ form.traitement }}
        </div> -->

        <div class="field">
            <label class="label">{{ form.levels.label }}</label>
        </div>
        <div id="djlvl" class="field">
            {{ form.levels }}
        </div>
        <div id="id_processors">
        <div class="field">
            <label class="label d-inline-block">Les processeurs :</label> <button id="select_processors" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>

        <div class="field">
            <label class="label d-inline-block">{{ form.graphie.label }}</label> <button id="select_graphie" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>
        <div id="djproc1" class="field">
            {{ form.graphie }}
        </div>
        <div class="field">
            <label class="label d-inline-block">{{ form.phonetique.label }}</label> <button id="select_phonetique" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>
        <div id="djproc2" class="field">
            {{ form.phonetique }}
        </div>
        <div class="field">
            <span><label class="label d-inline-block">{{ form.lexique.label }}</label> <button id="select_lexique" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>
        <div id="djproc3" class="field">
            {{ form.lexique }}
        </div>
        <div class="field">
            <label class="label d-inline-block">{{ form.morphosyntaxe.label }}</label> <button id="select_morphosyntaxe" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>
        <div id="djproc4" class="field">
            {{ form.morphosyntaxe }}
        </div>
        <div class="field">
            <label class="label d-inline-block">{{ form.syntaxe.label }}</label> <button id="select_syntaxe" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>
        <div id="djproc5" class="field">
            {{ form.syntaxe }}
        </div>
        <div class="field">
            <label class="label d-inline-block">{{ form.semantique.label }}</label> <button id="select_semantique" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>
        <div id="djproc6" class="field">
            {{ form.semantique }}
        </div>
        <div class="field">
            <label class="label d-inline-block">{{ form.formules_niveau.label }}</label> <button id="select_formules_niveau" class="button is-light is-small">Tout sélectionner/désélectionner</button>
        </div>
        <div id="djproc7" class="field">
            {{ form.formules_niveau }}
        </div>
        </div>
        <div class="field">
            <label class="label text-primary">{{ form.text.label }}</label>
        </div>
        <div class="field">
            <div class="control">
                {{ form.text }}
            </div>
            <div id="text_type"></div>
        </div>
        <button id="upload" class="button is-primary is-3" type="submit" value="Executer">Executer</button>
        <div id="msg"></div>
    </div>
    <div id="help" class="col-8 bg-2 border overflow-auto" style="max-width: 100%; max-height: 1300px; text-align: justify; display: none">
        <div id="info_email" class="py-3">
            <strong>Email</strong><br>
            <div class="ps-3">
                Renseignez un email valide qui sera utilisé pour vous informer une fois vos traitements terminés, il servira également à la récupération de vos résultats
            </div>
        </div>
        <div id="info_institution" class="py-3">
            <strong>Institution</strong><br>
            <div class="ps-3">
                Renseignez l'institution à laquelle vous êtes affilié, cette information sera utilisée qu'à des fins statistiques
            </div>
        </div>
        <div id="info_levels" class="py-3">
            <strong>Niveau de traitement</strong><br>
            <div class="ps-3">
                Choissiez le niveau de traitement de votre texte selon les résultats souhaités (vous pouvez choisir les deux)<br>
                - <u>texte :</u> analyse du texte dans son ensemble<br>
                - <u>phrase :</u> analyse avec un résultat détaillé pour chaque phrase<br>
            </div>
        </div>
        <div id="info_graphie" class="py-3">
            <strong>Le processeur « graphie » produit en sortie une analyse contenant les descripteurs suivants : </strong><br>
            <div class="ps-3">
                - <u>“longueur_mots_moyenne”:</u> moyenne de la longueur des mots en nombre de lettres <br>
                - <u>“variance_longueur_mots” :</u> écart-type de la longueur des mots en nombre de lettres <br>
                - <u>“frequence_lettres_moyenne” :</u> moyenne des fréquences des lettres <br>
                - <u>“variance_frequence_lettres” :</u> écart-type de la moyenne des fréquences des lettres. <br>
            </div>
        </div>
        <div id="info_phonetique" class="py-3">
            <strong>Le processeur « phonetique » produit en sortie une analyse contenant les descripteurs suivants : </strong><br>
            <div class="ps-3">
                - <u>“frequence_phonemes_phrase” :</u> fréquence des phonèmes qui composent la phrase ou du texte, selon l’échelle d’extraction choisie<br>
                - <u>“frequence_phonemes_moyenne” :</u> moyenne du score d’ordinarité phonétique des phonèmes qui composent les mots de la phrase  ou du texte<br>
                - <u>“frequence_phonemes_variance” :</u> variance du score d’ordinarité phonétique des phonèmes qui composent les mots de la phrase ou du texte<br>
                - <u>“diversite_phonemes_moyenne” :</u> moyenne du nombre de phonèmes différents par mots de la phrase ou du texte<br>
                - <u>“diversite_phonemes_variance” :</u> variance du nombre de phonèmes différents par mots de la phrase ou du texte<br>
                - <u>“nombre_phonemes_moyen” :</u> moyenne du nombre de phonèmes par mots de la phrase ou du texte- “nombre_phonemes_variance” : Variance du nombre de phonèmes par mots de la phrase ou du texte<br>
            </div>
        </div>
        <div id="info_niveau_lexical" class="py-3">
            <strong>Le processeur « niveau_lexical » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u> "proportion_niveau_1" :</u> proportion du nombre de mots appartenant au niveau scolaire 1 selon l’échelle Dubois Buyse (ie. CP et âge approx. 6 à 7) sur le nombre de mots total<br>
                - <u>"proportion_niveau_2" :</u> proportion du nombre de mots appartenant au niveau scolaire 2 selon l’échelle Dubois Buyse (ie. CE1 et âge approx. 7 à 8) sur le nombre de mots total<br>
                - <u>"proportion_niveau_3" :</u> proportion du nombre de mots appartenant au niveau scolaire 3 selon l’échelle Dubois Buyse (ie. CE2 et âge approx. 8 à 9) sur le nombre de mots total<br>
                - <u>"proportion_niveau_4" :</u> proportion du nombre de mots appartenant au niveau scolaire 4 selon l’échelle Dubois Buyse (ie. CM1 et âge approx. 9 à 10) sur le nombre de mots total<br>
                - <u>"proportion_niveau_5" :</u> proportion du nombre de mots appartenant au niveau scolaire 5 selon l’échelle Dubois Buyse (ie. CM2 et âge approx. 10 à 11) sur le nombre de mots total<br>
                - <u>"proportion_niveau_6" :</u> proportion du nombre de mots appartenant au niveau scolaire 6 selon l’échelle Dubois Buyse (ie. 6e et âge approx. 11 à 12) sur le nombre de mots total<br>
                - <u>"proportion_niveau_7" :</u> proportion du nombre de mots appartenant au niveau scolaire 7 selon l’échelle Dubois Buyse (ie. 5e et âge approx. 12 à 13) sur le nombre de mots total<br>
                - <u>"proportion_niveau_8" :</u> proportion du nombre de mots appartenant au niveau scolaire 8 selon l’échelle Dubois Buyse (ie. 4e et âge approx. 13 à 14) sur le nombre de mots total<br>
                - <u>"proportion_niveau_9" :</u> proportion du nombre de mots appartenant au niveau scolaire 9 selon l’échelle Dubois Buyse (ie. 3e et âge approx. 14 à 15) sur le nombre de mots total<br>
                - <u>"proportion_niveau_10" :</u> proportion du nombre de mots appartenant au niveau scolaire 10 selon l’échelle Dubois Buyse (ie. 2nde et âge approx. 15 à 16) sur le nombre de mots total<br>
                - <u>"proportion_niveau_11" :</u> proportion du nombre de mots appartenant au niveau scolaire supérieur à 10 selon l’échelle Dubois Buyse (ie. Niveau scolaire supérieur à 2nde et âge approx. supérieur à 16) sur le nombre de mots total<br>
                - <u>"niveau_scolaire_moyen" :</u> le niveau scolaire moyen<br>
            </div>
        </div>
        <div id="info_richesse_lexicale" class="py-3">
            <strong>Le processeur « richesse_lexicale » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>“moyenne_probabilite_mots” :</u> moyenne de la probabilité log des mots de la phrase dans la langue française (d’après un modèle de langue du français pour la reconnaissance de la parole, proposé par CMU Sphinx https://cmusphinx.github.io/wiki/download/)<br>
                - <u>“variance_probabilite_mots” :</u> écart-type de la probabilité log des mots de la phrase dans la langue française (d’après un modèle de langue du français pour la reconnaissance de la parole, proposé par CMU Sphinx)<br>
                - <u>“nombre_moyen_mots” :</u> nombre moyen de mots par phrase dans le texte (calculé uniquement à l’échelle du texte)<br>
                - <u>“nombre_mots” :</u> nombre de mots par phrase (calculé à l’échelle de la phrase)<br>
                - <u>“diversite_lemmes”:</u> nombre de lemmes différents par rapport au nombre de mots total<br>
            </div>
        </div>
        <div id="info_adjectifs_ordinaux" class="py-3">
            <strong>Le processeur « adjectifs_ordinaux » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>“nombre_adjectifs_ordinaux” :</u> nombre d’adjectifs ordinaux<br>
                - <u>“proportion_adjectifs_ordinaux” :</u> pourcentage d’adjectifs ordinaux sur le nombre de mots<br>
            </div>
        </div>
        <div id="info_flexions_verbales" class="py-3">
            <strong>Le processeur « flexions_verbales » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"diversite_temps_verbaux":</u> Nombre de temps verbaux différents utilisés.<br>
                - <u>"proportion_ind-pst":</u> proportion de verbes conjugués à l’indicatif présent sur l’ensemble des différents temps verbaux<br>
                - <u>"diversite_systemes_temps":</u> Nombre de systèmes temporels différents, de 1 à 3, parmi trois systèmes possibles : passé, présent et futur. Le décompte des systèmes temporels s’effectue sur la base des temps verbaux identifiés dans la phrase ou dans le texte, selon l’échelle choisie pour calculer le descripteur.<br>
                - <u>"passe":</u> proportion des verbes conjugués au passé sur l’ensemble des verbes conjugués au passé, au présent et au futur<br>
                - <u>"proportion_temps_compose":</u> Proportion globale de verbes conjugués à un temps composé. <br>
                - <u>"proportion_temps_simple":</u> Proportion globale de verbes conjugués à un temps simple. <br>
                - <u>"proportion_indicatif":</u> Proportion globale de verbes conjugués à l’indicatif.<br>
                - <u>"proportion_subjonctif":</u> Proportion globale de verbes conjugués au subjonctif<br>
                - <u>"proportion_infinitif":</u> Proportion globale de verbes conjugués à l’infinitif. <br>
                - <u>"proportion_flexions_1e_personne" :</u> Proportion relative de verbes conjugués à la 1ère personne sur le nombre de personnes possibles (1e, 2e ou 3e personne). <br>
                - <u>"proportion_flexions_2e_personne" :</u> Proportion de verbes conjugués à la 2e personne. <br>
                - <u>"proportion_flexions_3e_personne" :</u> Proportion de verbes conjugués à la 3e personne. <br>
                - <u>"proportion_flexions_singulier" :</u> Proportion de verbes conjugués au singulier. <br>
                - <u>"proportion_flexions_pluriel" :</u> Proportion de verbes conjugués au pluriel. <br>
            </div>
        </div>
        <div id="info_parties_du_discours" class="py-3">
            <strong>Le processeur « parties_du_discours » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                "proportion_ADJ" : pourcentage d’adjectifs sur le nombre total de mots<br>
                - <u>"proportion_ADP" :</u> pourcentage de pré (et post)-positions sur le nombre total de mots<br>
                - <u>"proportion_ADV" :</u> pourcentage d’adverbes sur le nombre total de mots<br>
                - <u>"proportion_AUX" :</u> pourcentage d’auxiliaires sur le nombre total de mots<br>
                - <u>"proportion_CCONJ" :</u> pourcentage de conjonction de coordination sur le nombre total de mots<br>
                - <u>"proportion_DET" :</u> pourcentage de déterminants sur le nombre total de mots<br>
                - <u>"proportion_INTJ" :</u> pourcentage d’interjections sur le nombre total de mots<br>
                - <u>"proportion_NOUN" :</u> pourcentage de noms sur le nombre total de mots<br>
                - <u>"proportion_NUM" :</u> pourcentage de numératifs (déterminants, noms ou adjectifs) sur le nombre total de mots<br>
                - <u>"proportion_PART" :</u> pourcentage de particules sur le nombre total de mots<br>
                - <u>"proportion_PRON" :</u> pourcentage de pronoms sur le nombre total de mots<br>
                - <u>"proportion_PROPN" :</u> pourcentage de noms propres sur le nombre total de mots<br>
                - <u>"proportion_PUNCT" :</u> pourcentage de symboles de ponctuation sur le nombre total de mots<br>
                - <u>"proportion_SCONJ" :</u> pourcentage de conjonctions de subordination sur le nombre total de mots<br>
                - <u>"proportion_SYM" :</u> pourcentage de symboles (hors ponctuation) sur le nombre total de mots<br>
                - <u>"proportion_VERB" :</u> pourcentage de verbes sur le nombre total de mots<br>
                - <u>"proportion_X" :</u> pourcentage de termes de catégorie grammaticale indéterminée sur le nombre total de mots<br>
            </div>
        </div>
        <div id="info_pronoms" class="py-3">
            <strong>Le processeur « pronoms » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"repartition_pronoms_personnels_1e_personne" :</u> nombre de pronoms personnels à la 1e personne sur le nombre total de pronoms personnels<br>
                - <u>"repartition_pronoms_personnels_2e_personne" :</u> nombre de pronoms personnels à la 2e personne sur le nombre total de pronoms personnels<br>
                - <u>"repartition_pronoms_personnels_3e_personne" :</u> nombre de pronoms personnels à la 3e personne sur le nombre total de pronoms personnels<br>
                - <u>"repartition_pronoms_personnels_singuliers" :</u> nombre de pronoms personnels au singulier sur le nombre de pronoms personnels<br>
                - <u>"repartition_pronoms_personnels_pluriels" :</u> nombre de pronoms personnels au pluriel sur le nombre de pronoms personnels<br>
                - <u>"proportion_pronoms_personnels_1e_personne" :</u> proportion de pronoms à la 1ère personne sur le nombre total de mots.<br>
                - <u>"proportion_pronoms_personnels_2e_personne" :</u> proportion de pronoms de 2e personne sur le nombre total de mots.<br>
                - <u>"proportion_pronoms_personnels_3e_personne" :</u> proportion de pronoms de 3e personne sur le nombre total de mots.<br>
                - <u>"proportion_pronoms_personnels_singuliers" :</u> proportion de pronoms au singulier sur le nombre total de mots. <br>
                - <u>"proportion_pronoms_personnels_pluriels" :</u> proportion de pronoms au pluriel sur le nombre total de mots.<br>
                - <u>"proportion_pronoms_personnels” :</u> proportion de personnels sur le nombre total de mots. <br>
                - <u>"proportion_pronoms_interrogatifs" :</u> proportion de pronoms interrogatifs sur le nombre total de mots.<br>
                - <u>"proportion_pronoms_relatifs" :</u> proportion de pronoms relatifs sur le nombre total de mots. <br>
                - <u>"proportion_pronoms_demonstratifs" :</u> proportion de pronoms démonstratifs sur le nombre total de mots.<br> 
                - <u>"proportion_pronoms_possessifs" :</u> proportion de pronoms possessifs sur le nombre total de mots.<br>
                - <u>"proportion_pronoms_negatifs" :</u> proportion de pronoms négatifs sur le nombre total de mots.<br>
            </div>
        </div>
        <div id="info_pluriels" class="py-3">
            <strong>Le processeur « pluriels » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>“nombre_pluriels” :</u> nombre de termes au pluriel (ex. chats, regardent, les, etc.) <br>
                - <u>“proportion_pluriels” :</u> pourcentage de termes au pluriel sur le nombre de mots<br>
            </div>
        </div>
        <div id="info_dependances_syntaxiques" class="py-3">
            <strong>Le processeur « dependances_syntaxiques » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>“profondeur_arbre_syntaxique” :</u> profondeur de l’arbre syntaxique (d’après l’analyse syntaxique en dépendance de type UD opérée par Stanza)<br>
                - <u>“distance_max_dependances” :</u> distance maximale, en nombre de mots, entre un mot et ses dépendants <br>
                - <u>“distance_moyenne_dependances” :</u> distance moyenne, en nombre de mots, entre un mot et ses dépendants <br>
                - <u>“point_distance_moyenne” :</u> pour chaque mot, distance moyenne, en nombre de mots, entre lui et ses dépendants<br>
                - <u>“point_distance_variance” :</u> pour chaque mot, écart-type de la distance, en nombre de mots, entre lui et ses dépendants<br> 
                - <u>“nombre_moyen_dependances” :</u> moyenne du nombre de dépendants associés à un mot <br>
                - <u>“variance_nombre_dependances” :</u> écart-type du nombre de dépendants associés à un mot<br>
            </div>
        </div>
        <div id="info_structures_passives" class="py-3">
            <strong>Le processeur « structures_passives » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>“nombre_structures_passives” :</u> nombre de structures passives <br>
                - <u>“proportion_structures_passives” :</u> pourcentage de structures passives rapportées au nombre de verbes<br>
            </div>
        </div>
        <div id="info_structures_syntaxiques" class="py-3">
            <strong>Le processeur « structures_syntaxiques » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"nombre_subordonnees_qui" et "proportion_subordonnees_qui" :</u> nombre et pourcentage de propositions subordonnées relatives en QUI sur le nombre total de phrases. <br>
                - <u>"nombre_subordonnees_que" et "proportion_subordonnees_que" :</u> nombre et pourcentage de propositions subordonnées relatives en QUE <br>
                - <u>"nombre_subordonnees_prep_lequel" et "proportion_subordonnees_prep_lequel" :</u> nombre et pourcentage de propositions subordonnées relatives en PREP+laquelle/lequel/etc. <br>
                - <u>"nombre_subordonnees_dont" et "proportion_subordonnees_dont" :</u> nombre et pourcentage de propositions subordonnées relatives en DONT <br>
                - <u>"nombre_subordonnees_gerondif" et "proportion_subordonnees_gerondif" :</u> nombre et pourcentage de propositions subordonnées relatives en gérondif <br>
                - <u>"nombre_subordonnees_completives" et "proportion_subordonnees_completives" :</u> nombre et pourcentage de propositions subordonnées complétives [Stanza : deprel:xcomp et deprel:ccomp => complétives par opposition à 'deprel': 'acl:relcl' => proposition relative]<br>
                - <u>"nombre_subordonnees_hypothetiques" et "proportion_subordonnees_hypothetiques" :</u> nombre et pourcentage de propositions subordonnées hypothétiques [Stanza : upos SCONJ “s’il veut bien” => par opposition à ADV => ex. “si fort”]<br>
                - <u>"nombre_propositions_coordonnees" et "proportion_propositions_coordonnees" :</u> nombre et pourcentage de propositions coordonnées <br>
                - <u>"nombre_incises" et "proportion_incises" :</u> nombre et pourcentage d’incises [Stanza : upos VERB deprel conj / parataxis “Leurs chats - ils en avaient beaucoup - retrouvaient chacun son panier.”, Leurs chats, des animaux fourbes, avaient chacun son panier.]<br>
            </div>
        </div>
        <div id="info_superlatifs_inferiorite" class="py-3">
            <strong>Le processeur « superlatifs_inferiorite » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"nombre_superlatifs_inferiorite" :</u> nombre de superlatifs d’infériorité<br>
                - <u>"proportion_superlatifs_inferiorite" :</u> proportion de superlatifs d’infériorité sur le nombre de mots total (dans le texte ou dans la phrase, selon le niveau de calcul)<br>
            </div>
        </div>
        <div id="info_adverbiaux_temporels" class="py-3">
            <strong>Le processeur « adverbiaux_temporels » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"nombre_adverbiaux_temporels" :</u> nombre total d'adverbiaux temporels repérés<br>
                - <u>"nombre_adverbiaux_localisation_temporelle" :</u> nombre d’adverbiaux de localisation temporelle repérés<br>
                - <u>"nombre_adverbiaux_purement_duratifs" :</u> nombre d’adverbiaux purement duratifs repérés<br>
                - <u>"nombre_adverbiaux_purement_iteratifs" :</u> nombre d’adverbiaux purement itératifs repérés<br>
                - <u>"nombre_adverbiaux_duratifs_iteratifs" :</u> nombre d’adverbiaux duratifs/itératifs repérés (adverbiaux exprimant une durée ou une itération selon le contexte)<br>
                - <u>"nombre_adverbiaux_date_duree" :</u> nombre d’adverbiaux date/durée repérés (adverbiaux exprimant une date ou une durée selon le contexte)<br>
                - <u>"nombre_adverbiaux_pointage_absolu" :</u> nombre d’adverbiaux opérant un pointage absolu<br>
                - <u>"nombre_adverbiaux_pointage_non_absolu" :</u> nombre d’adverbiaux opérant un pointage non absolu<br>
                - <u>"nombre_adverbiaux_loc_temp_focalisation_id" :</u> nombre d’adverbiaux de localisation temporelle opérant une focalisation ID<br>
                - <u>"nombre_adverbiaux_loc_temp_focalisation_non_id" :</u> nombre d’adverbiaux de localisation temporelle opérant une focalisation non-ID<br>
                - <u>"nombre_adverbiaux_loc_temp_deplacement_id" :</u> nombre d’adverbiaux de localisation temporelle opérant un déplacement ID<br>
                - <u>"nombre_adverbiaux_loc_temp_deplacement_non_id" :</u> nombre d’adverbiaux de localisation temporelle opérant un déplacement non-ID<br>
                - <u>"nombre_adverbiaux_loc_temp_regionalisation_id" :</u> nombre d’adverbiaux de localisation temporelle opérant une régionalisation ID<br>
                - <u>"nombre_adverbiaux_loc_temp_regionalisation_non_id" :</u> nombre d’adverbiaux de localisation temporelle opérant une régionalisation non-ID<br>
                - <u>"nombre_adverbiaux_loc_temp_pointage_absolu" :</u> nombre d’adverbiaux de localisation temporelle opérant un pointage absolu<br>
                - <u>"nombre_adverbiaux_loc_temp_pointage_non_absolu" :</u> nombre d’adverbiaux de localisation temporelle opérant un pointage non absolu<br>
                - <u>"nombre_adverbiaux_iterateur_calendaire" :</u> nombre d’adverbiaux itératifs (purement itératifs et duratifs/itératifs) comportant un itérateur calendaire<br>
                - <u>"nombre_adverbiaux_iterateur_frequentiel" :</u> nombre d’adverbiaux itératifs (purement itératifs et duratifs/itératifs) comportant un itérateur fréquentiel<br>
                - <u>"nombre_adverbiaux_iterateur_quantificationnel" :</u> nombre d’adverbiaux itératifs (purement itératifs et duratifs/itératifs) comportant un itérateur quantificationnel<br>
                - <u>"nombre_adverbiaux_dur_iter_absolu" :</u> nombre d’adverbiaux duratifs et itératifs (i.e. purement duratifs, purement itératifs, duratifs/itératifs et date/durée) opérant un pointage absolu<br>
                - <u>"nombre_adverbiaux_dur_iter_anaphorique" :</u> nombre d’adverbiaux duratifs et itératifs opérant un pointage anaphorique<br>
                - <u>"nombre_adverbiaux_dur_iter_deictique" :</u> nombre d’adverbiaux duratifs et itératifs opérant un pointage déictique<br>
                - <u>"nombre_adverbiaux_dur_iter_relatif" :</u> nombre d’adverbiaux duratifs et itératifs opérant un pointage relatif (anaphorique ou déictique, selon le contexte)<br>
                - <u>"proportion_adverbiaux_temporels" :</u> proportion d'adverbiaux temporels repérés par rapport au nombre de phrases (i.e. F/nombre de phrases)<br>
                - <u>"proportion_adverbiaux_localisation_temporelle" :</u> proportion d’adverbiaux de localisation temporelle repérés par rapport au nombre d’adverbiaux temporels<br>
                - <u>"proportion_adverbiaux_purement_duratifs" :</u> proportion d’adverbiaux purement duratifs repérés par rapport au nombre d’adverbiaux temporels<br>
                - <u>"proportion_adverbiaux_purement_iteratifs" :</u> proportion d’adverbiaux purement itératifs repérés par rapport au nombre d’adverbiaux temporels<br>
                - <u>"proportion_adverbiaux_duratifs_iteratifs" :</u> proportion d’adverbiaux duratifs/itératifs repérés (adverbiaux exprimant une durée ou une itération selon le contexte) par rapport au nombre d’adverbiaux temporels<br>
                - <u>"proportion_adverbiaux_date_duree" :</u> proportion d’adverbiaux date/durée repérés (adverbiaux exprimant une date ou une durée selon le contexte) par rapport au nombre d’adverbiaux temporels <br>
                - <u>"proportion_adverbiaux_pointage_absolu" :</u> proportion d’adverbiaux opérant un pointage absolu par rapport au nombre d’adverbiaux temporels <br>
                - <u>"proportion_adverbiaux_pointage_non_absolu" :</u> proportion d’adverbiaux opérant un pointage non absolu par rapport au nombre d’adverbiaux temporels <br>
                - <u>"proportion_adverbiaux_loc_temp_focalisation_id" :</u> proportion d’adverbiaux de localisation temporelle opérant une focalisation ID par rapport aux adverbiaux de localisation temporelle<br>
                - <u>"proportion_adverbiaux_loc_temp_focalisation_non_id" :</u> proportion d’adverbiaux de localisation temporelle opérant une focalisation non-ID par rapport aux adverbiaux de localisation temporelle <br>
                - <u>"proportion_adverbiaux_loc_temp_deplacement_id" :</u> proportion d’adverbiaux de localisation temporelle opérant un déplacement ID par rapport aux adverbiaux de localisation temporelle <br>
                - <u>"proportion_adverbiaux_loc_temp_deplacement_non_id" :</u> proportion d’adverbiaux de localisation temporelle opérant un déplacement non-ID par rapport aux adverbiaux de localisation temporelle<br>
                - <u>"proportion_adverbiaux_loc_temp_regionalisation_id" :</u> proportion d’adverbiaux de localisation temporelle opérant une régionalisation ID par rapport aux adverbiaux de localisation temporelle <br>
                - <u>"proportion_adverbiaux_loc_temp_regionalisation_non_id" :</u> proportion d’adverbiaux de localisation temporelle opérant une régionalisation non-ID par rapport aux adverbiaux de localisation temporelle <br>
                - <u>"proportion_adverbiaux_loc_temp_pointage_absolu" :</u> proportion d’adverbiaux de localisation temporelle opérant un pointage absolu par rapport aux adverbiaux de localisation temporelle<br>
                - <u>"proportion_adverbiaux_loc_temp_pointage_non_absolu" :</u> proportion d’adverbiaux de localisation temporelle opérant un pointage non absolu par rapport aux adverbiaux de localisation temporelle <br>
                - <u>"proportion_adverbiaux_iterateur_calendaire" :</u> proportion d’adverbiaux itératifs (purement itératifs et duratifs/itératifs) comportant un itérateur calendaire par rapport aux adverbiaux itératifs <br>
                - <u>"proportion_adverbiaux_iterateur_frequentiel" :</u> proportion d’adverbiaux itératifs (purement itératifs et itératifs-duratifs) comportant un itérateur fréquentiel par rapport aux adverbiaux itératifs <br>
                - <u>"proportion_adverbiaux_iterateur_quantificationnel" :</u> proportion d’adverbiaux itératifs (purement itératifs et itératifs-duratifs) comportant un itérateur quantificationnel par rapport aux adverbiaux itératifs <br>
                - <u>"proportion_adverbiaux_dur_iter_absolu" :</u> proportion d’adverbiaux duratifs et itératifs opérant un pointage absolu par rapport aux adverbiaux duratifs et itératifs <br>
                - <u>"proportion_adverbiaux_dur_iter_anaphorique" :</u> proportion d’adverbiaux duratifs et itératifs opérant un pointage anaphorique  par rapport aux adverbiaux duratifs et itératifs<br>
                - <u>"proportion_adverbiaux_dur_iter_deictique" :</u> proportion d’adverbiaux duratifs et itératifs opérant un pointage déictique  par rapport aux adverbiaux duratifs et itératifs <br>
                - <u>"proportion_adverbiaux_dur_iter_relatif" :</u> proportion d’adverbiaux duratifs et itératifs opérant un pointage relatif (anaphorique ou déictique, selon le contexte)  par rapport aux adverbiaux duratifs et itératifs <br>
            </div>
        </div>
        <div id="info_modalite" class="py-3">
            <strong>Le processeur « modalite » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"nombre_marqueurs" :</u> nombre total de marqueurs de modalité repérés<br>
                - <u>"nombre_alethique" :</u> nombre de marqueurs exprimant de l'aléthique<br>
                - <u>"nombre_appreciatif" :</u> nombre de marqueurs exprimant de l'appréciatif<br>
                - <u>"nombre_axiologique" :</u> nombre de marqueurs exprimant de l'axiologique<br>
                - <u>"nombre_boulique" :</u> nombre de marqueurs exprimant du boulique<br>
                - <u>"nombre_deontique" :</u> nombre de marqueurs exprimant du déontique<br>
                - <u>"nombre_epistemique" :</u> nombre de marqueurs exprimant de l'épistémique<br>
                - <u>"nombre_pas_d_indication" :</u> nombre de marqueurs pour lesquels il n'y a pas d'indication de catégorie modale<br>
                - <u>"nombre_marqueurs_niveau3" :</u> nombre de marqueurs de niveau de confiance 3<br>
                - <u>"nombre_marqueurs_niveau2" :</u> nombre de marqueurs de niveau de confiance 2<br>
                - <u>"nombre_marqueurs_niveau1" :</u> nombre de marqueurs de niveau de confiance 1<br>
                - <u>"nombre_marqueurs_niveau0" :</u> nombre de marqueurs de niveau de confiance 0<br>
                - <u>"nombre_alethique_niveau3" :</u> nombre de marqueurs de niveau de confiance 3, exprimant de l’aléthique<br>
                - <u>"nombre_alethique_niveau2" :</u> nombre de de niveau de confiance 2, exprimant de l'aléthique <br>
                - <u>"nombre_alethique_niveau1" :</u> nombre de marqueurs de niveau de confiance 1, exprimant de l'aléthique<br>
                - <u>"nombre_alethique_niveau0" :</u> nombre de marqueurs de niveau de confiance 0, exprimant de l'aléthique<br>
                - <u>"nombre_appreciatif_niveau3" :</u> nombre de marqueurs de niveau de confiance 3, exprimant de l'appréciatif<br>
                - <u>"nombre_appreciatif_niveau2" :</u> nombre de marqueurs de niveau de confiance 2, exprimant de l'appréciatif<br>
                - <u>"nombre_appreciatif_niveau1" :</u> nombre de marqueurs de niveau de confiance 1, exprimant de l'appréciatif<br>
                - <u>"nombre_appreciatif_niveau0" :</u> nombre de marqueurs de niveau de confiance 0, exprimant de l'appréciatif<br>
                - <u>"nombre_axiologique_niveau3" :</u> nombre de marqueurs de niveau de confiance 3, exprimant de l'axiologique<br>
                - <u>"nombre_axiologique_niveau2" :</u> nombre de marqueurs de niveau de confiance 2, exprimant de l'axiologique<br>
                - <u>"nombre_axiologique_niveau1" :</u> nombre de marqueurs de niveau de confiance 1, exprimant de l'axiologique<br>
                - <u>"nombre_axiologique_niveau0" :</u> nombre de marqueurs de niveau de confiance 0, exprimant de l'axiologique<br>
                - <u>"nombre_boulique_niveau3" :</u> nombre de marqueurs de niveau de confiance 3, exprimant du boulique<br>
                - <u>"nombre_boulique_niveau2" :</u> nombre de marqueurs de niveau de confiance 2, exprimant du boulique<br>
                - <u>"nombre_boulique_niveau1" :</u> nombre de marqueurs de niveau de confiance 1, exprimant du boulique<br>
                - <u>"nombre_boulique_niveau0" :</u> nombre de marqueurs de niveau de confiance 0, exprimant du boulique<br>
                - <u>"nombre_deontique_niveau3" :</u> nombre de marqueurs de niveau de confiance 3, exprimant du déontique<br>
                - <u>"nombre_deontique_niveau2" :</u> nombre de marqueurs de niveau de confiance 2, exprimant du déontique<br>
                - <u>"nombre_deontique_niveau1" :</u> nombre de marqueurs de niveau de confiance 1, exprimant du déontique<br>
                - <u>"nombre_deontique_niveau0" :</u> nombre de marqueurs de niveau de confiance 0, exprimant du déontique<br>
                - <u>"nombre_epistemique_niveau3" :</u> nombre de marqueurs de niveau de confiance 3, exprimant de l'épistémique<br>
                - <u>"nombre_epistemique_niveau2" :</u> nombre de marqueurs de niveau de confiance 2, exprimant de l'épistémique<br>
                - <u>"nombre_epistemique_niveau1" :</u> nombre de marqueurs de niveau de confiance 1, exprimant de l'épistémique<br>
                - <u>"nombre_epistemique_niveau0" :</u> nombre de marqueurs de niveau de confiance 0, exprimant de l'épistémique<br>
                - <u>"nombre_pas_d_indication_niveau3" :</u> nombre de marqueurs de niveau 3, sans indication de catégorie modale<br>
                - <u>"nombre_pas_d_indication_niveau2" :</u> nombre de marqueurs de niveau 2, sans indication de catégorie modale<br>
                - <u>"nombre_pas_d_indication_niveau1" :</u> nombre de marqueurs de niveau 1, sans indication de catégorie modale<br>
                - <u>"nombre_pas_d_indication_niveau0" :</u> nombre de marqueurs de niveau 0, sans indication de catégorie modale<br>
                - <u>"proportion_marqueurs" :</u> proportion de marqueurs repérés sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_alethique" :</u> proportion de marqueurs exprimant de l'aléthique sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_appreciatif" :</u> proportion de marqueurs exprimant de l'appréciatif sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_axiologique" :</u> proportion de marqueurs exprimant de l'axiologique sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_boulique" :</u> proportion de marqueurs exprimant du boulique sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_deontique" :</u> proportion de marqueurs exprimant du déontique sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_epistemique" :</u> proportion de marqueurs exprimant de l'épistémique sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_pas_d_indication" :</u> proportion de marqueurs sans indication de catégorie modale sur le nombre de mots de la phrase ou du texte<br>
                - <u>"proportion_marqueurs_niveau3" :</u> proportion de marqueurs de niveau de confiance 3 sur le nombre de marqueurs repérés dans la phrase ou le texte<br>
                - <u>"proportion_marqueurs_niveau2" :</u> proportion de marqueurs de niveau de confiance 2 sur le nombre de marqueurs repérés dans la phrase ou le texte<br>
                - <u>"proportion_marqueurs_niveau1" :</u> proportion de marqueurs de niveau de confiance 1 sur le nombre de marqueurs repérés dans la phrase ou le texte<br>
                - <u>"proportion_marqueurs_niveau0" :</u> proportion de marqueurs de niveau de confiance 0 sur le nombre de marqueurs repérés dans la phrase ou le texte<br>
                - <u>"proportion_alethique_niveau3" :</u> proportion de marqueurs de niveau de confiance 3, exprimant de l'aléthique sur le nombre de marqueurs aléthiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_alethique_niveau2" :</u> proportion de marqueurs de niveau de confiance 2, exprimant de l'aléthique sur le nombre de marqueurs aléthiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_alethique_niveau1" :</u> proportion de marqueurs de niveau de confiance 1, exprimant de l'aléthique sur le nombre de marqueurs aléthiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_alethique_niveau0" :</u> proportion de marqueurs de niveau de confiance 0, exprimant de l'aléthique sur le nombre de marqueurs aléthiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_appreciatif_niveau3" :</u> proportion de marqueurs de niveau de confiance 3, exprimant de l'appréciatif sur le nombre de marqueurs appréciatifs repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_appreciatif_niveau2" :</u> proportion de marqueurs de niveau de confiance 2, exprimant de l'appréciatif sur le nombre de marqueurs appréciatifs repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_appreciatif_niveau1" :</u> proportion de marqueurs de niveau de confiance 1, exprimant de l'appréciatif sur le nombre de marqueurs appréciatifs repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_appreciatif_niveau0" :</u> proportion de marqueurs de niveau de confiance 0, exprimant de l'appréciatif sur le nombre de marqueurs appréciatifs repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_axiologique_niveau3" :</u> proportion de marqueurs de niveau de confiance 3, exprimant de l'axiologique sur le nombre de marqueurs axiologiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_axiologique_niveau2" :</u> proportion de marqueurs de niveau de confiance 2, exprimant de l'axiologique sur le nombre de marqueurs axiologiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_axiologique_niveau1" :</u> proportion de marqueurs de niveau de confiance 1, exprimant de l'axiologique sur le nombre de marqueurs axiologiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_axiologique_niveau0" :</u> proportion de marqueurs de niveau de confiance 0, exprimant de l'axiologique sur le nombre de marqueurs axiologiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_boulique_niveau3" :</u> proportion de marqueurs de niveau de confiance 3, exprimant du boulique sur le nombre de marqueurs bouliques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_boulique_niveau2" :</u> proportion de marqueurs de niveau de confiance 2, exprimant du boulique sur le nombre de marqueurs bouliques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_boulique_niveau1" :</u> proportion de marqueurs de niveau de confiance 1, exprimant du boulique sur le nombre de marqueurs bouliques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_boulique_niveau0" :</u> proportion de marqueurs de niveau de confiance 0, exprimant du boulique sur le nombre de marqueurs bouliques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_deontique_niveau3" :</u> proportion de marqueurs de niveau de confiance 3, exprimant du déontique sur le nombre de marqueurs déontiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_deontique_niveau2" :</u> proportion de marqueurs de niveau de confiance 2, exprimant du déontique sur le nombre de marqueurs déontiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_deontique_niveau1" :</u> proportion de marqueurs de niveau de confiance 1, exprimant du déontique sur le nombre de marqueurs déontiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_deontique_niveau0" :</u> proportion de marqueurs de niveau de confiance 0, exprimant du déontique sur le nombre de marqueurs déontiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_epistemique_niveau3" :</u> proportion de marqueurs de niveau de confiance 3, exprimant de l'épistémique sur le nombre de marqueurs épistémiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_epistemique_niveau2" :</u> proportion de marqueurs de niveau de confiance 2, exprimant de l'épistémique sur le nombre de marqueurs épistémiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_epistemique_niveau1" :</u> proportion de marqueurs de niveau de confiance 1, exprimant de l'épistémique sur le nombre de marqueurs épistémiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_epistemique_niveau0" :</u> proportion de marqueurs de niveau de confiance 0, exprimant de l'épistémique sur le nombre de marqueurs épistémiques repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_pas_d_indication_niveau3" :</u> proportion de marqueurs de niveau 3, sans indication de catégorie modale, sur le nombre de marqueurs sans indication de catégorie modale repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_pas_d_indication_niveau2" :</u> proportion de marqueurs de niveau 2, sans indication de catégorie modale, sur le nombre de marqueurs sans indication de catégorie modale repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_pas_d_indication_niveau1" :</u> proportion de marqueurs de niveau 1, sans indication de catégorie modale, sur le nombre de marqueurs sans indication de catégorie modale repérés dans la phrase ou dans le texte<br>
                - <u>"proportion_pas_d_indication_niveau0" :</u> proportion de marqueurs de niveau 0, sans indication de catégorie modale, sur le nombre de marqueurs sans indication de catégorie modale repérés dans la phrase ou dans le texte<br>
            </div>
        </div>
        <div id="info_emotions" class="py-3">
            <strong>Le processeur « emotions » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"score_de_polarite" :</u> <br>
                - <u>"score_de_subjectitvite"</u><br>
                - <u>"neutre" :</u> nombre de mots étiquetés par ce label sur le nombre total de mots<br>
                - <u>"admiration" :</u> idem<br>
                - <u>"amour" :</u> idem<br>
                - <u>"apaisement" :</u> idem<br>
                - <u>"audace" :</u> idem<br>
                - <u>"colere" :</u> idem<br>
                - <u>"comportement" :</u> idem<br>
                - <u>"culpabilite" :</u> idem<br>
                - <u>"degout" :</u> idem<br>
                - <u>"deplaisir" :</u> idem<br>
                - <u>"desir" :</u> idem<br>
                - <u>"embarras" :</u> idem<br>
                - <u>"empathie" :</u> idem<br>
                - <u>"fierte" :</u> idem<br>
                - <u>"impassibilite" :</u> idem<br>
                - <u>"inhumanite" :</u> idem<br>
                - <u>"jalousie" :</u> idem<br>
                - <u>"joie" :</u> idem<br>
                - <u>"mepris" :</u> idem<br>
                - <u>"non_specifiee" :</u> idem<br>
                - <u>"orgueil" :</u> idem<br>
                - <u>"peur" :</u> idem<br>
                - <u>"ressentiment" :</u> idem<br>
                - <u>"surprise" :</u> idem<br>
                - <u>"tristesse" :</u> idem<br>
            </div>
        </div>
        <div id="info_emotyc" class="py-3">
            <strong>Pas encore d'infos pour « emotyc »</strong><br>
            <div class="ps-3">
                A venir
            </div>
        </div>
        <div id="info_connecteurs_organisateurs" class="py-3">
            <strong>Le processeur « connecteurs_organisateurs » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"nombre_additifs_et_integration_lineaire" :</u> nombre total de connecteurs ou organisateurs de ce type<br>
                - <u>"proportion_additifs_et_integration_lineaire" :</u> nombre de connecteurs ou organisateurs de ce label sur le nombre total de phrases<br>
                - <u>"nombre_changements_de_topicalisation" :</u> idem<br>
                - <u>"proportion_changements_de_topicalisation" :</u> idem<br>
                - <u>"nombre_illustration_et_exemplification" :</u> idem<br>
                - <u>"proportion_illustration_et_exemplification" :</u> idem<br>
                - <u>"nombre_organisateurs_temporels" :</u> idem<br>
                - <u>"proportion_organisateurs_temporelse" :</u> idem<br>
                - <u>"nombre_argumentatifs_et_concessifs" :</u> idem<br>
                - <u>"proportion_argumentatifs_et_concessifs" :</u> idem<br>
                - <u>"nombre_connecteurs_temporels" :</u> idem<br>
                - <u>"proportion_connecteurs_temporels" :</u> idem<br>
                - <u>"nombre_explicatifs_et_justificatifs" :</u> idem<br>
                - <u>"proportion_explicatifs_et_justificatifs" :</u> idem<br>
            </div>
        </div>
        <div id="info_entites_nommees" class="py-3">
            <strong>Le processeur « entites_nommees » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"proportion_entites_nommees":</u> nombre de mots étiquetés par un des différents labels relevant des entités nommées sur le nombre total de mots<br>
                - <u>"proportion_personnes":</u> nombre de mots étiquetés par ce label sur le nombre total de mots<br>
                - <u>"proportion_lieux" :</u> idem<br>
                - <u>"proportion_organisations" :</u> idem <br>
                - <u>"proportion_autres_entites" :</u> idem<br>
            </div>
        </div>
        <div id="info_propositions_subordonnees" class="py-3">
            <strong>Le processeur « propositions_subordonnees » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"nombre_subordonnees_avant_apres" et "proportion_subordonnees_avant_apres" :</u> Nombre de subordonnées de ce type et proportion de subordonnées de ce type rapporté au nombre de phrases. Repérage / quantification de subordonnées temporelles introduites par “avant” ou “après”, n’étant pas positionnées en début de phrase.<br>
                - <u>"nombre_subordonnees_type_savoir_que" et "proportion_subordonnees_type_savoir_que" :</u> Nombre de subordonnées de ce type et proportion de subordonnées de ce type rapporté au nombre de phrases. Repérage / quantification d’énoncés comportant des structures du type SAVOIR/CROIRE QUE.<br>
                - <u>"nombre_subordonnees_type_savoir_que_negation" et "proportion_subordonnees_type_savoir_que_negation" :</u> Nombre de subordonnées de ce type et proportion de subordonnées de ce type rapporté au nombre de phrases. Repérage / quantification d’énoncés comportant des structures du type SAVOIR QUE + négation dans la proposition introduite par QUE. <br>
                - <u>"nombre_subordonnees_type_croire_que_present" et "proportion_subordonnees_type_croire_que_present" :</u> Nombre de subordonnées de ce type et proportion de subordonnées de ce type rapporté au nombre de phrases. Repérage / quantification d’énoncés comportant une unité textuelle du type “CROIRE-présent que”<br>
                - <u>"nombre_subordonnees_type_savoir_si" et "proportion_subordonnees_type_savoir_si'" :</u> Nombre de subordonnées de ce type et proportion de subordonnées de ce type rapporté au nombre de phrases. Repérage / quantification d’énoncés comportant des structures du type SAVOIR SI.<br>
                - <u>"nombre_subordonnees_gerondif" et "proportion_subordonnees_gerondif'" :</u> Nombre de subordonnées de ce type et proportion de subordonnées de ce type rapporté au nombre de phrases. Repérage / quantification d’énoncés comportant des subordonnées en gérondif.<br>
            </div>
        </div>
        <div id="info_metaphores" class="py-3">
            <strong>Le processeur « metaphores » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"nombre_metaphores":</u> nombre de métaphores repérées<br>
                - <u>"proportion_metaphores":</u> nombre de métaphores rapportées au nombre de phrases<br>
            </div>
        </div>
        <div id="info_formules_lisibilite_standard" class="py-3">
            <strong>Le processeur « formules_lisibilite_standard » produit en sortie une analyse contenant les descripteurs suivants, tous calculés à l’aide de l’outil textstat (https://pypi.org/project/textstat/), qui calcule la lisibilité, la complexité et le niveau scolaire d’une séquence de texte :</strong><br>
            <div class="ps-3">
                - <u>"flesch_reading_ease":</u> à documenter<br>
                - <u>"smog_index":</u> à documenter<br>
                - <u>"flesch_kincaid_grade":</u> à documenter<br>
                - <u>"coleman_liau_index":</u> à documenter<br>
                - <u>"automated_readability_index":</u> à documenter<br>
                - <u>"dale_chall_readability_score":</u> à documenter<br>
                - <u>"linsear_write_formula":</u> à documenter <br>
                - <u>"french_standard":</u> niveau scolaire français estimé<br>
            </div>
        </div>
        <div id="info_age" class="py-3 mb-5">
            <strong>Le processeur « age » produit en sortie une analyse contenant les descripteurs suivants :</strong><br>
            <div class="ps-3">
                - <u>"age_min":</u> la borne inférieure de la tranche d’âge prédite<br>
                - <u>"age_max":</u> la borne supérieure de la tranche d’âge prédite<br>
                - <u>"age_moyen":</u> la moyenne des deux bornes<br>
            </div>
        </div>
    </div>
</div>
        <div class="row" id="progress_div"></div>
<!--</form>-->
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="{% static 'js/choix.js' %}"></script>
<script src="{% static 'js/upload.js' %}"></script>
<script src="https://unpkg.com/jszip@3.7.1/dist/jszip.js" type="text/javascript"></script>
{% endblock content %}
