<!-- templates/result.html -->
{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3 has-text-primary">Interface admin pour état des traitement</h1>
<div class="container">
<div class="field">
<form action="" method="post">{% csrf_token %}
    <div class="field">
        <label class="label">{{ form.emailCheck.label }}</label>
    </div>
    <div id="resmail" class="field">
        {{ form.emailCheck }}
        <!-- <input type="date"> -->
    </div>
    <button class="button is-primary is-size-4" type="submit" value="Voir les données">Voir les données</button>
</form>

</div class="field">
<div id="processing" class="field">
    <div class="field">
        <label class="label">Fichier en cours de traitement :</label>
    </div>
    {% if en_cours %}
    <div class="table-responsive">
        <table class="table table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>Email</th>
                    <th>Fichier</th>
                    <th>Traitement</th>
                    <th>Levels</th>
                    <th>Processors</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% autoescape on %}
                <tr>
                    <td>{{ en_cours.email }}</td>
                    <td>{{ en_cours.name }}</td>
                    <td>{{ en_cours.traitement }}</td>
                    <td>{{ en_cours.levels }}</td>
                    <td class="text-break">{{ en_cours.processors }}</td>
                    <td class="text-nowrap">{{ en_cours.date }}</td>
                </tr>
                {% endautoescape %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div>
        Auncun traitement en cours
    </div>
    {% endif %}
</div>
{% if table %}
<div class="field">
    <label class="label">Fichier de l'utilisateur :</label>
</div>
<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th>Fichier</th>
                <th>Traitement</th>
                <th>Levels</th>
                <th>Processors</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Position</th>
                <th>Log</th>
            </tr>
        </thead>
        <tbody>
            {% autoescape on %}
            {% for f in fch %}
            <tr>
                <td>{{ f.name }}</td>
                <td>{{ f.traitement }}</td>
                <td>{{ f.levels }}</td>
                <td class="text-break">{{ f.processors }}</td>
                <td class="text-nowrap">{{ f.date }}</td>
                <td>{{ f.statut }}</td>
                <td>{{ f.position }}</td>
                <td class="text-nowrap">{{ f.log }}</td>
            </tr>
            {% endfor %}
            {% endautoescape %}
        </tbody>
    </table>
</div>

{% elif dl_all %}
<div class="field">
    Aucun fichier ne correspond à ce mail
</div>
{% endif %}

</div>
{% endblock content %}
