<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="title is-2 has-text-primary">ANR TextToKids</h1>
<div class="container">
    <div class="block is-size-6">Ce site permet de tester et d'utiliser la chaîne de traitement réalisée par les partenaires Synapse, MoDyCo et IRISA 
        dans le cadre du projet ANR TextToKids (2019-2023). La visée de cette chaîne est de calculer un grand nombre de descripteurs linguistiques 
        en vue de permettre une évaluation de la complexité ou de la difficulté d'un texte.
    </div>
    <div class="block is-size-5">Pour lancer la chaine, cliquer sur <a href="{% url 'chain' %}">Chaine</a></div>
    <div class="block is-size-5">Pour Visualiser le dernier résultat, ou le sauvegarder, cliquer sur <a href="{% url 'results' %}">Résultats</a></div>
</div>
<div class="container">
    <div class="block has-text-info">Site du projet: <a href="http://texttokids.irisa.fr/">http://texttokids.irisa.fr/</a></div>
</div>
<footer class="footer">
    <div class="content has-text-centered is-size-6">
        <p>
            Code source disponible sous licence CC BY-NC-SA 4.0: <a href="https://gitlab.huma-num.fr/texttokids/">https://gitlab.huma-num.fr/texttokids/</a>
        </p>
        <img src="{% static 'img/logos-texttokids.png' %}" alt="Logos image" width="360" height="60">
    </div>
  </footer>
  {% endblock content %}
