<!-- templates/result.html -->
{% extends 'base.html' %}

{% block content %}
<h1 class="title is-3 has-text-primary">Afficher les résultat de la chaine</h1>
<div class="container">
<div class="field">
<form action="" method="post">{% csrf_token %}
    <div class="field">
        <label class="label">{{ form.emailCheck.label }}</label>
    </div>
    <div id="resmail" class="field">
        {{ form.emailCheck }}
    </div>
    <button class="button is-primary is-size-4" type="submit" value="Voir mes résultats">Voir mes résultats</button>
</form>
</div class="field">
{% if table %}
<div class="field">
    <a href="{% url 'downloadAll' dl_all %}"><button class="btn btn-info">Télécharger Tout</button></a>
</div>
<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th>Fichier</th>
                <th>Traitement</th>
                <th>Levels</th>
                <th>Processors</th>
                <th>Date</th>
                <th>Télécharger</th>
            </tr>
        </thead>
        <tbody>
            {% autoescape on %}
            {% for f in fch %}
            <tr>
                <td>{{ f.name }}</td>
                <td>{{ f.traitement }}</td>
                <td>{{ f.levels }}</td>
                <td class="text-break">{{ f.processors }}</td>
                <td>{{ f.date }}</td>
                <td class="align-middle"><a href="{% url 'download' f.id %}"><button class="btn btn-info">Télécharger</button></a></td>
            </tr>
            {% endfor %}
            {% endautoescape %}
        </tbody>
    </table>
</div>

{% elif dl_all %}
<div class="field">
    Aucun fichier ne correspond à ce mail
</div>
{% endif %}

</div>
{% endblock content %}
