<!-- templates/chain.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title is-3 has-text-primary">Utiliser l'analyse détaillée</h1>
<div class="container">
    <!--<form enctype="multipart/form-data" method="post">-->
            {% csrf_token %}
            <div id="msg"></div>
    
            <div class="field">
                <label class="label">{{ form.emailReg.label }}</label>
            </div>
            <div id="djmail" class="field">
                {{ form.emailReg }}
            </div>

            <div class="field">
                <label class="label">{{ form.institution.label }}</label>
            </div>
            <div id="djinstitution" class="field">
                {{ form.institution }}
            </div>
    
            <!-- <div class="field">
                <label class="label">{{ form.traitement.label }}</label>
            </div>
            <div id="djlvl" class="field">
                {{ form.traitement }}
            </div> -->
    
            <div class="field">
                <label class="label">{{ form.levels.label }}</label>
            </div>
            <div id="djlvl" class="field">
                {{ form.levels }}
            </div>
    
            <div class="field">
                <label class="label d-inline-block">{{ form.processors.label }}</label> <button id="select_processors" class="button is-light is-small">Tout sélectionner/désélectionner</button>
            </div>
            <div id="djproc" class="field">
                {{ form.processors }}
            </div>
    
            <div class="field">
                <label class="label">{{ form.text.label }}</label>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.text }}
                </div>
                <div id="text_type"></div>
            </div>
            <button id="upload" class="button is-primary is-3" type="submit" value="Executer">Executer</button>
            <div class="row" id="progress_div"></div>
    <!--</form>-->
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="{% static 'js/choix.js' %}"></script>
<script src="{% static 'js/upload.js' %}"></script>
<script src="https://unpkg.com/jszip@3.7.1/dist/jszip.js" type="text/javascript"></script>

{% endblock content %}
